body 
{
	font-family:arial,"lucida console",sans-serif; 
	font-size:11px;
	margin:0px;
	padding:0px;
}
a{outline: none;}
div,
table,
table td
{
	margin:0px;
	padding:0px;
}


div.innerWrapper
{
	width:910px;
	text-align: center;
}


/** top menu **/
table#topMenu a.topMenuItem
{
	color:#0084c8;
	font-weight:bold;
	text-decoration:none;
	outline:none;
	background:#ffffff url(/Theme/default/images/topMenu_bg.jpg) no-repeat left top;
	width:102px;
	height:18px;
	padding: 10px 0 0 0;
	display:block;
}

table#topMenu a#active,
table#topMenu a.topMenuItem:hover
{
	color:#ffffff;
	background:#ffffff url(/Theme/default/images/topMenu_bg_hover.jpg) no-repeat left top;
}
